*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
.img_logo {
    display: block;
    margin: 195px auto 122px auto;
}

input{
    width: 321px;
    height: 46px;
    background: #F7F7F7;
    border-radius: 10px;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border: none;
    margin: 0 auto;
    display: block;
}

input::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #969696;
    padding-left: 19px;
}

.input_password{
    margin-top: 21px;
}

.forgot_password{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin: 35px 30px 38px 0;
    display: block;
    text-align: end;
   
}

button {
    display: block;
    margin: 0 auto;
    background: #323232;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    width: 133px;
    height: 46px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.new_account{
    display: block;
    margin-top: 21px;
    margin-bottom: 62px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #969696;
}

strong{
    color: #323232;
}

.paragraph {

    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

div {
    text-align: center;
    margin: 18px auto 80px auto;
}

.link_center {
    margin: 0 18px;
    text-decoration: none;
}